@import '../set-board-and-marks', '../button';

$primary-color:  #282828;
$secondary-color: #ff652f;

$cell-size: 100px;
$mark-size: $cell-size * .9;

%modal-body {
   .game-display {
		width: 100%;
		height: 65vh;

		background-color: white;

		@include set-board($cell-size);

	    @include set-marks-x($mark-size);
		@include set-marks-circle($mark-size);	

		.winning-message {
		   #winning-message-text {
			  text-align: center;
			  font-size: 1.5rem;
			  margin: 1.2rem 0;
		   }
		   .game-display-btn-group {
			  &-reset {
				  position: absolute;
				  left: 50%;
				  transform: translateX(-50%);

				  @include button(1.2rem, 1rem 1.2rem, 0);
				  @include box-shadow(6px, 2px, 9px, 2px, rgba(0, 0, 0, 0.6), false); 
				  @include transition-ease;

				  i {
					 margin-right: 0.5rem;
				  }

				  &:active {
					 box-shadow: none;
				  }

				  &:disabled {
					 box-shadow: none;
					 opacity: 0.2;
				  }
			  }
		   }
		}
		.instructions-message {
		   position: relative;
		   bottom: 2rem;
		   p {
			  text-align: center;
			  text-decoration: underline;
			  font-size: 1.5rem;
			  margin: 1.2rem 0;
		   }
		   ul {
			  li {
				 font-size: 1.1rem;
				 padding-left: 25%;
				 list-style-position: inside;
			  }
		   }
		}
   }
}
