@import '../button', '../tic-tac-toe/ttt-styles', '../rock-paper-scissors/rps-styles', '../connect-four/cf-styles', '../minesweeper/ms-styles';

$primary-color:  #282828;
$secondary-color: #ff652f;

%modal-body {
   .game-display {
		width: 100%;
		height: 65vh;

		background-color: white;
		.game-tic-tac-toe {
		   @extend %ttt;
		}
		.game-rock-paper-scissors {
		   @extend %rps;
		}
		.game-connect-four {
		   @extend %cf;
		}
		.game-minesweeper {
		   @extend %ms;
		}
   }   
}
