@mixin set-board($cell-size) {
	 .board {
		width: 100%;
		height: 85%;

		display: grid;
		justify-content: center;
		align-content: center;

		// to align the marks in the cells
		justify-items: center;
		align-items: center;

		grid-template-columns: repeat(3, auto);

		.cell {
		   width: $cell-size;
		   height: $cell-size;

		   border: 1px solid black;

		   // to display the marks in the cells
		   display: flex;
		   justify-content: center;
		   align-items: center;

		   position: relative;

		   cursor: pointer;

		   &:first-child,
		   &:nth-child(2),
		   &:nth-child(3) {
			  border-top:none;
		   }
		   &:nth-child(3n+1) {
			  border-left:none;
		   }
		   &:nth-child(3n+3) {
			  border-right:none;	
		   }
		   &:last-child,
		   &:nth-child(8),
		   &:nth-child(7) {
			  border-bottom: none;
		   }
		}
	 }
}

@mixin set-marks-x($mark-size) {
	 .cell.x {
		cursor: not-allowed;
	 }
	 .cell.x::before, .cell.x::after {
		background-color: black;
	 }
	 .board.x .cell:not(.x):not(.circle):hover::before,
	 .board.x .cell:not(.x):not(.circle):hover::after {
		background-color: lightgrey;
	 }
	 .cell.x::before, .cell.x::after,
	 .board.x .cell:not(.x):not(.circle):hover::before,
	 .board.x .cell:not(.x):not(.circle):hover::after {
		content: '';
		position: absolute;
		width: $mark-size * .15;
		height: $mark-size;
	 }
	 .cell.x::before,
	 .board.x .cell:not(.x):not(.circle):hover::before {
		transform: rotate(45deg);
	 }
	 .cell.x::after,
	 .board.x .cell:not(.x):not(.circle):hover::after {
		transform: rotate(-45deg);
	 }
}
@mixin set-marks-circle($mark-size) {
	 .cell.circle {
		cursor: not-allowed;
	 }
	 .cell.circle::before {
		background-color: black;
	 }
	 .board.circle .cell:not(.x):not(.circle):hover::before {
		background-color: lightgrey;
	 }
	 .cell.circle::before, .cell.circle::after,
	 .board.circle .cell:not(.x):not(.circle):hover::before,
	 .board.circle .cell:not(.x):not(.circle):hover::after {
		content: '';
		position: absolute;
		border-radius: 50%;
	 }
	 .cell.circle::before,
	 .board.circle .cell:not(.x):not(.circle):hover::before {
		width: $mark-size;
		height: $mark-size;
	 }
	 .cell.circle::after,
	 .board.circle .cell:not(.x):not(.circle):hover::after {
		width: $mark-size * .7;
		height: $mark-size * .7;
		background-color: white;
	 }
}
