@import './config', './modal/modal';

$modal-width: 75%;
$modal-bg-color: white;
$modal-text-color: black;

.modal {
   @include modal($modal-width, $modal-bg-color, $modal-text-color, true);
   @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);
}
.hidden {
   display: none;
}
