%selections {
   .selections {
	   display: flex;
	   justify-content: space-around;
	   padding: 2rem;
	   .selection {
		  @include button(5.75rem, 0.75rem, 0);
		  color: #222;
		  background: none;
		  border: none;
		  outline: none;
		  transition: 100ms;

		  &:hover {
			 transform: scale(1.2);
		  }                                                                                    
	  }
   }
}
