@import "../../../utils/utils";

@mixin cell($size) {
    width: $size;
    height: $size;

    @extend %flex-center;

    &.covered {
        background-color: darkgrey;
        cursor: pointer;
        border: 5px outset darkgrey;
    }
    &.uncovered {
        background-color: grey;
        border: 1px solid black;
    }
    &.mine {
        i {
            color: red;
        }
    }
    &.flag {
        i {
           color: red;
        }
    }
    &.burst {                                                             
		background-color: red;
        i {
           font-size: 1.75rem;
           color: yellow;
		   &.fa-solid.fa-burst::before {
			  background-color: red;
		   }
        }
    }
    &.numbers {
        color: blue;
    }
}
