@import "../../../utils/utils";

@mixin set-cell($width, $height, $cell-color) {
   width: $width;
   height: $height;
   border: 1px solid $cell-color;
   @extend %flex-center;
   position: relative;
   cursor: pointer;
}
