@import "set-cell", "../../../utils/utils";

$cell-size: 100px;
$cell-color: black;

@mixin set-board($width, $height) {
	width: $width;
	height: $height; 

    justify-items: center;                                                                            
    align-items: center;
	@include set-grid(3);

	.cell {
	     @include set-cell($cell-size, $cell-size, $cell-color);
		 &:nth-child(-n + 3) {
			 border-top: none;
		 }
		 &:nth-child(3n + 1) {
	         border-left: none;
		 }
	     &:nth-child(3n + 3) {
			 border-right: none;
		 }
		 &:nth-child(n + 7) {
			 border-bottom: none;
		 }
	}
}
