@use "sass:string";

%set-ms-board {
   .board {
	 margin: 0 auto;
	 display: grid;

	 // to center the grid
	 justify-content: center;
	 align-content: center;

	 // to align the marks in the cells
	 justify-items: center;
	 align-items: center;

	 grid-template-columns: repeat(9, auto);
	 gap: 1px;

	 .cell {
		width: 35px;
		height: 35px;

		display: flex;
		justify-content: center;
		align-items: center;

		&.covered {
		   background-color: darkgrey;
		   cursor: pointer;
		   border: 5px outset darkgrey;
		}
		&.uncovered {
		   background-color: grey;
		   border: 1px solid grey;
		}
		&.mine {
		   i {
			  color: red;
		   }
		}
		&.flag {
		   i {
			  color: red;
		   }
		}
		&.burst {
		   i {
			  font-size: 1.75rem;
			  color: yellow;
			  background-color: red;
		   }
		}
		&.numbers {
			color: blue;
		}
	 }

   }
}
