@import '../utils/utils', '../utils/config';

%nav {
   menu {
       list-style-type: none;
       li {
           font-size: 1.35rem;
           display: inline;
           cursor: pointer;
           padding: 1rem 0.5rem;
		   background-color: $header-color;
 
           a {
               text-decoration: none;
			   background-color: inherit;
			   color: white;
           }
 
           @include transition-ease;
           &:not(:last-child) {
               margin-right: 1.5rem;
           }

           &:hover {
               font-weight: bolder;
           }
      }
  }
}
