@import '../utils/config', '../utils/modal/modal';                                                        

$primary-color:  #282828;
$secondary-color: #ff652f;
$modal-width: 100%;
$modal-bg-color: $primary-color;
$modal-text-color: $secondary-color;

.modal {
   @include modal($modal-width, $modal-bg-color, $modal-text-color, true);
   @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);
}
.hidden {
   display: none;
}
