%instructions {
	margin: 3.2rem 0;
	p {
		text-align: center;
		font-size: 1.15rem;
		margin: 1.2rem 0;

		&:first-child {
		    font-size: 1.4rem;
			text-decoration: underline;
		}
   }
   ul {
		li {
			font-size: 1.1rem;
			padding-left: 15%;
			list-style-position: inside;
		}
   }
}
