@import '../../utils/utils', '../../utils/button', '../../utils/res-mq', '../../utils/config', '../../modal/modal';

$primary-color:  #282828;
$secondary-color: #ff652f;
$modal-width: 75%;
$modal-bg-color: $primary-color;
$modal-text-color: $secondary-color;

@mixin main-container($bg-color, $text-color) {
   width: 100vw;
   background-color: $bg-color;

   padding: 5% 0;
   h1 {
	  color: white;
	  font-size: 1.75rem;
	  text-align: center;
	  text-decoration: underline;
   }
   .games-grid {
	  width: 75%;
	  height: 100%;

	  margin: 0 auto;

	  @include md {
		  display: flex;
		  justify-content: space-between;
		  flex-wrap: wrap;
	  }

	  &-game {
		 width: 100%;
		 height: 25%;
		 @include md {
			 width: 40%;
		 }
		 background-color: darken($bg-color, 30%);

		 margin: 2rem 0;

		 img {
			width: 100%;
			height: 85%;
		 }

		 &-description {
			width: 100%;
			height: 15%;
			text-align: center;
			background-color: darken($bg-color, 50%);
			padding-top: 0.75rem;

			&-btn {
			    @include button(1.05rem, 0.95rem 0.75rem, 0);
			    background-color: darken($bg-color, 10%);
			}
		 }
	  }
   }
   #modal {
	  @include modal($modal-width, $modal-bg-color, $modal-text-color, true);
	  @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

	  &.hidden {
		  display: none;
	  }
   }
}
