@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: grey;
}

a {
  color: white;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: grey;
}

a {
  color: white;
}

header nav menu {
  list-style-type: none;
}
header nav menu li {
  font-size: 1.35rem;
  display: inline;
  cursor: pointer;
  padding: 1rem 0.5rem;
  background-color: #ff652f;
  transition: all 0.5s ease-in-out;
}
header nav menu li a {
  text-decoration: none;
  background-color: inherit;
  color: white;
}
header nav menu li:not(:last-child) {
  margin-right: 1.5rem;
}
header nav menu li:hover {
  font-weight: bolder;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: grey;
}

a {
  color: white;
}

main #modal #modal-body .game-display .game .instructions-message {
  margin: 3.2rem 0;
}
main #modal #modal-body .game-display .game .instructions-message p {
  text-align: center;
  font-size: 1.15rem;
  margin: 1.2rem 0;
}
main #modal #modal-body .game-display .game .instructions-message p:first-child {
  font-size: 1.4rem;
  text-decoration: underline;
}
main #modal #modal-body .game-display .game .instructions-message ul li {
  font-size: 1.1rem;
  padding-left: 15%;
  list-style-position: inside;
}

main #modal #modal-body .game-display .game.rock-paper-scissors .selections {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
main #modal #modal-body .game-display .game.rock-paper-scissors .selections .selection {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 5.75rem;
  text-decoration: none;
  padding: 0.75rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #222;
  background: none;
  border: none;
  outline: none;
  transition: 100ms;
}
main #modal #modal-body .game-display .game.rock-paper-scissors .selections .selection:hover {
  transform: scale(1.2);
}

main #modal #modal-body .game-display .game.rock-paper-scissors .results {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
main #modal #modal-body .game-display .game.rock-paper-scissors .results div .result-score {
  position: relative;
  font-size: 1.95rem;
}
main #modal #modal-body .game-display .game.rock-paper-scissors .results div i {
  display: block;
  font-size: 5.75rem;
  opacity: 0.25;
  padding: 0.5rem;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #modal #modal-body .game-display .game.tic-tac-toe .board {
  width: 100%;
  height: 75%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell:nth-child(-n+3) {
  border-top: none;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell:nth-child(3n+1) {
  border-left: none;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell:nth-child(3n+3) {
  border-right: none;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell:nth-child(n+7) {
  border-bottom: none;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell.x::before {
  background-color: black;
  content: "";
  position: absolute;
  width: 13.5px;
  height: 90px;
  transform: rotate(45deg);
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell.x::after {
  background-color: black;
  content: "";
  position: absolute;
  width: 13.5px;
  height: 90px;
  transform: rotate(-45deg);
}
main #modal #modal-body .game-display .game.tic-tac-toe .board.x .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
  content: "";
  position: absolute;
  width: 13.5px;
  height: 90px;
  transform: rotate(45deg);
}
main #modal #modal-body .game-display .game.tic-tac-toe .board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
  content: "";
  position: absolute;
  width: 13.5px;
  height: 90px;
  transform: rotate(-45deg);
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell.circle::before {
  background-color: black;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board .cell.circle::after {
  background-color: grey;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 63px;
  height: 63px;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
main #modal #modal-body .game-display .game.tic-tac-toe .board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: grey;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.minesweeper .board .cell, main #modal #modal-body .game-display .game.tic-tac-toe .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #modal #modal-body .game-display .game.minesweeper .board {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(9, auto);
  gap: 1px;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell {
  width: 35px;
  height: 35px;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.covered {
  background-color: darkgrey;
  cursor: pointer;
  border: 5px outset darkgrey;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.uncovered {
  background-color: grey;
  border: 1px solid grey;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.mine i {
  color: red;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.flag i {
  color: red;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.burst {
  background-color: red;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.burst i {
  font-size: 1.75rem;
  color: yellow;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.burst i.fa-solid.fa-burst::before {
  background-color: red;
}
main #modal #modal-body .game-display .game.minesweeper .board .cell.numbers {
  color: blue;
}

main .games-grid, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  left: 50%;
  transform: translateX(-50%);
}

main #modal #modal-body .game-display span {
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

main #modal #modal-header, main #modal {
  display: flex;
  flex-direction: column;
}

main #modal #modal-body .game-display .game.tic-tac-toe .board .cell, main #modal #modal-body .game-display .game.minesweeper .board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #modal #modal-body .game-display span.ellipsis {
  font-size: 30px;
}
main #modal #modal-body .game-display span.ellipsis::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: animate steps(4, end) 900ms infinite;
  content: "…";
  width: 0px;
}
@keyframes animate {
  to {
    width: 1.25em;
  }
}

@font-face {
  font-family: Digital7Mono;
  src: url("../../fonts/Digital7Mono-B1g5.ttf");
}
main #modal #modal-body .game-display .game.minesweeper .game-interface-mines-display {
  position: relative;
  top: 10%;
  right: 10%;
  font-size: 1.85rem;
  border: 1px solid grey;
  padding: 10px 15px;
  background-color: black;
  color: red;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group {
  position: relative;
  top: 10%;
  right: 40%;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.75rem 0.95rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset i {
  color: yellow;
  font-size: 1.65rem;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset i.fa-smile-o::before {
  background-color: black;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset i.fa-dizzy::before {
  background-color: black;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset:active {
  box-shadow: none;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface .game-display-btn-group .game-display-btn-group-reset:disabled {
  box-shadow: none;
  opacity: 0.2;
}
main #modal #modal-body .game-display .game.minesweeper .game-interface-countdown {
  position: absolute;
  top: 25%;
  left: 30%;
  font-family: Digital7Mono;
  font-size: 1.85rem;
  border: 1px solid grey;
  padding: 10px 15px;
  background-color: black;
  color: red;
}
main #modal #modal-body .game-display .game .winning-message {
  margin-bottom: 1.5rem;
  padding: 0.65rem 0;
}
main #modal #modal-body .game-display .game .winning-message-text {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group {
  position: absolute;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.75rem 0.95rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset i {
  margin-right: 0.5rem;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset i.fa-arrows-rotate::before, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset i.fa-refresh::before, main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset i.fa-sync::before {
  background-color: black;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset:active {
  box-shadow: none;
}
main #modal #modal-body .game-display .game .winning-message .game-display-btn-group .game-display-btn-group-reset:disabled {
  box-shadow: none;
  opacity: 0.2;
}
main #modal #modal-body .game-display span {
  position: absolute;
  font-size: 2.75rem;
  margin-left: 35%;
}
header {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 2rem;
  background-color: #ff652f;
  z-index: 1;
}
main {
  width: 100vw;
  background-color: grey;
  margin-top: 2rem;
}
main h1 {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: underline;
}
main .games-grid {
  width: 75%;
  position: absolute;
}
@media (min-width: 768px) {
  main .games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
main .games-grid-game {
  width: 50%;
  height: 35%;
  background-color: #343434;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  main .games-grid-game {
    width: 20%;
    height: 30%;
  }
}
@media (min-width: 768px) {
  main .games-grid-game {
    margin: 2rem;
  }
}
main .games-grid-game img {
  width: 100%;
  height: 85%;
}
main .games-grid-game-description {
  width: 100%;
  height: 15%;
  text-align: center;
  background-color: #010101;
  padding-top: 0.5rem;
}
main .games-grid-game-description-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 0.85rem;
  text-decoration: none;
  padding: 0.5rem 0.35rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #676767;
}
main .games-grid-game-description-btn i.fa-solid::before, main .games-grid-game-description-btn i.fa-check-double {
  background-color: inherit;
}
main #modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 75%;
  background: grey;
  color: #ff652f;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
main #modal #modal-header {
  background-color: grey;
}
main #modal #modal-header-close {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  align-self: flex-end;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
main #modal #modal-header-close::before {
  outline: none;
  border: none;
  background-color: inherit;
}
main #modal #modal-header-text {
  background-color: inherit;
  font-size: 1.75rem;
  align-self: center;
  text-decoration: underline;
}
main #modal #modal-body {
  margin: 1rem;
  height: 100%;
  background-color: grey;
}
@media (min-width: 768px) {
  main #modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 56.25%;
    height: 70%;
    background: grey;
    color: #ff652f;
  }
  main #modal #modal-header {
    background-color: grey;
  }
  main #modal #modal-header-close {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    align-self: flex-end;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  main #modal #modal-header-close::before {
    outline: none;
    border: none;
    background-color: inherit;
  }
  main #modal #modal-header-text {
    background-color: inherit;
    font-size: 1.75rem;
    align-self: center;
    text-decoration: underline;
  }
  main #modal #modal-body {
    margin: 1rem;
    height: 100%;
    background-color: grey;
  }
}
main #modal.hidden {
  display: none;
}

footer {
  background-color: lightgrey;
  font-size: 1.15rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
}
footer #site-info ul {
  list-style-type: none;
}
footer #site-info ul li {
  display: inline;
  cursor: pointer;
}
footer #site-info ul li a {
  background-color: lightgrey;
  color: blue;
  text-decoration: underline;
}
footer #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
footer #copyright-info {
  background-color: inherit;
  font-size: 1rem;
}