@import "../parts/sections/tic-tac-toe/ttt-styles", "../parts/sections/rock-paper-scissors/rps-styles", "../utils/utils", "../parts/sections/instructions";

$cell-size: 100px;
$mark-size: $cell-size * .9;

%modal-body {
    .game-display {
	    .game {
		   &.tic-tac-toe {
			@extend %ttt;
		   }
		   &.rock-paper-scissors {
			   @extend %rps;
		   }
		   .winning-message {
			   @if(&:last-child) {
				   margin-bottom: 1.5rem;
			   }
			   padding: 0.65rem 0;
			   &-text {
				  text-align: center;
				  font-size: 1.5rem;
				  margin: 1.2rem 0;
			   }
			   .game-display-btn-group {
				  &-reset {
					  position: absolute;
					  @extend %center-object-horz;

					  @include button(1.2rem, 0.75rem 0.95rem, 0);
					  @include box-shadow(6px, 2px, 9px, 2px, rgba(0, 0, 0, 0.6), false);
					  @include transition-ease;

					  i {
						  margin-right: 0.5rem;
					  }

					  &:active {
						  box-shadow: none;
					  }

					  &:disabled {
						  box-shadow: none;
						  opacity: 0.2;
					  }
				 }
			   }
		   }
		}
		.instructions-message {
		    @extend %instructions;
		}
	}
}
