$cell-size: 35px;

%set-cf-board {
   .board {
	 margin: 0 30px;
	 display: grid;

	 // to center the grid
	 justify-content: center;
	 align-content: center;

	 // to align the marks in the cells
	 justify-items: center;
	 align-items: center;

	 column-gap: 1px;
	 grid-template-columns: repeat(6, auto);
	 background-color: blue;
	 border-bottom: 15px solid blue;
	 border-top: 15px solid blue;

	 .col-end-cap {
		width: 35px;
		height: 10px;
		@include md {
		    width: 50px;
		}
		@include lg {
		   width: 75px;
		}

		background-color: black;
		cursor: pointer;

		&:hover {
		   background-color: lighten(black, 20%);
		}
	 }

	 .cell {
		width: 35px;
		height: 35px;
		@include md {
		    width: 50px;
			height: 50px;
		}
		@include lg {
		   width: 75px;
		   height: 75px;
		}

		border: 5px solid blue;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba(255, 255, 255, 0.15);

		&::before, &::after {
		   content: "";
		   position: absolute;
		   border-radius: 50%;
		}

		&::before {
		   background-color: darken(blue, 5);
		   width: 35px;
		   height: 35px;// 65px;
		   @include md {
			   width: 50px;
			   height: 50px;
		   }
		   @include lg {
			  width: 75px;
			  height: 75px;
		   }
		}
		&::after {
		   width: 35px * .7;
		   height: 35px * .7;// 65px;
		   @include md {
			   width: 50px * .7;
			   height: 50px * .7;
		   }
		   @include lg {
			  width: 75px * .7;
			  height: 75px * .7;
		   }
		   background-color: white;
		}

		&.covered {
		   &.yellow {
			  &::after {
				 background-color: yellow;
			  }
		   }
		   &.red {
			  &::after {
				 background-color: red;
			  }
		   }
		}
		&.try {
		   &.yellow {
			  &::after {
				 background-color: lighten(yellow, 25%);
			  }
		   }
		   &.red {
			  &::after {
				 background-color: lighten(red, 25%);
			  }
		   }
		}
	 }

   }
}
